<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}我的 RSS 阅读器{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- 先用最简单的样式，后面再换好看的 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

<!--.sid-and-con{-->
<!--margin-top:60px; /* 等于导航栏高度 */-->
<!-- height:100% ;-->
<!--  padding-top: 10px; /* 等于导航栏高度 */-->
<!--  overflow-y: scroll;-->
<!--}-->

html{
overflow-y: scroll;
}
.content{
<!--overflow-y: scroll;-->
}
    </style>
</head>
<body>
<!--    <div class="topnav">-->
<!--         <header>-->
<!--              <h2>📰 我的 RSS 阅读器</h2>-->
<!--        </header>-->
<!--    </div>-->


<div class="topnav">
  <a href="#" class="active">📰 我的 RSS 阅读器</a>
  <a class href="{{ url_for('main.index') }}">首页</a>
  <a href="{{ url_for('main.feeds') }}">订阅管理</a>

  <a href="#" class="split">{% block current_page %}首页{% endblock %}</a>
</div>

    <div class="sid-and-con">
    <!-- 侧栏 -->
<!--    <div class="sidebar">-->
<!--      <a class="active" href="{{ url_for('main.index') }}">首页</a>-->
<!--      <a href="{{ url_for('main.feeds') }}">订阅源管理</a>-->
<!--      <a href="#contact">Contact</a>-->
<!--      <a href="#about">About</a>-->
<!--    </div>-->

    <!-- Page content -->

    <div class="content">
      <main>
        {% block content %}{% endblock %}
    </main>
    </div>

    </div>

</body>
</html>